
@{
    ViewBag.Title = "500 - Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-10">
        <h2>
            Something Blew Up!
        </h2>
        <br />
        <br />
        <br />
        <br />
        <div class="text-justify h4">
            Seriously..!!!
            <br />
            I Don't think this is a good place to learn hacking..!<br />
            Why Don't you goto the <a href="@Url.Action("Index","Home")"> <i class="glyphicon glyphicon-home">-HomePage</i></a> ..??
        </div>
    </div>
</div>

